/* INDEX CSS FILE - Barrel file for importing all the css files */
@import "tailwindcss/utilities.css";
@import "./reset.css";
@import "./tailwind.css";
@import "tailwindcss/theme.css";
@import "./root.css";
@import "./global.css";
